@{
	//Bu dosyayı Ekle>Razor Düzeni ile oluşturabilirsiniz.
	//İçeriği eklemek için ilgili razor sayfasında
	//<partial name="_albilgi" /> şeklinde kullanılabilir.
}
<div><h3>Bu bilgi, altbilgi dosyasından gelmektedir.</h3></div>
