@{
    ViewData["Title"] = "Hoş Geldiniz";
    
}

<div class="text-center">
    <h1 class="display-4" style="color:blue;">Hoş Geldiniz</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core öğrenmek için tıklayınız</a>.</p>
    <h3>Merhaba, Şu an sunucuda saat: @ViewData["Trtarihyaz"]</h3>
</div>

