@{
    ViewData["Title"] = "Hoş Geldiniz";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core öğrenmek için tıklayınız</a>.</p>
</div>
