
@{
    ViewData["Title"] = "Belgeler Sayfası";
    Layout = "~/Views/Shared/_sablon2.cshtml";
}

<h1 style="color:red;">@ViewData["Title"] İçeriği...</h1>
<br />
@section Altbolum
{
    <h4><a href="http://kmyo.kocaeli.edu.tr">Kocaeli Myo Telefon: 0262 3494351</a></h4>
}

