
@{
    ViewData["Title"] = "Alış Veriş Sepeti Oturum Verileri Oluşturma";
}

<h1>@ViewData["Title"]</h1>
@if (ViewData["mesaj"] != null)
{
    <p style="color:green;">@ViewData["mesaj"]</p>
}
<a href="/Asepeti/SepetiGoster">Sepeti Gör</a>

