
@{
    ViewData["Title"] = "Sepeti Temizleme";
}

<h1>@ViewData["Title"]</h1>
<h3>Alış veriş sepeti temizlendi</h3>
<a href="/Asepeti/Index">Sepeti Oluştur</a>
<a href="/Asepeti/SepetiGoster">Sepeti Gör</a>