@{
    ViewData["Title"] = "Kullanıcı Giriş Sayfası";
}

<h1>@ViewData["Title"]</h1>
<div style="margin:10px;">
    <form method="post">
        <div class="form-group">
            <label for="Kuladi"><strong>Kullanıcı Adı</strong></label>
            <input type="text" name="Kuladi" id="Kuladi" maxlength="10" required autofocus class="form-control" />
        </div>
        <div class="form-group">
            <label for="Parola"><strong>Parola</strong></label>
            <input type="password" maxlength="8" name="Parola" id="Parola" required class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" name="Giris" value="Giriş" id="Giris" class="form-control btn btn-success" />
        </div>
    </form>
    <div>
        @if (ViewData["sonucmesaj"] != null)
        {
            <span class="alert aler-success">@Html.Raw(ViewData["sonucmesaj"])</span>
        }
    </div>
</div>
