
@{
    ViewData["Title"] = "Lütfen Verileri Giriniz";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="Adsoyad">Adı Soyadı</label>
            <input type="text" name="Adsoyad" itemid="Adsoyad" maxlength="25" autofocus required class="form-control" />
        </div>
        <div>
            <label for="Eposta">E-Posta Adresi</label>
            <input type="email" name="Eposta" itemid="Eposta" maxlength="40" required class="form-control" />
        </div>
        <div class="form-group">
            <select name="Tahsili" itemid="Tahsili" class="form-control" required>
                <option value="İlk Öğretim">İlk Öğretim</option>
                <option value="Lise">Lise</option>
                <option value="Üniversite">Üniversite</option>
            </select>
            <input type="submit" name="Gönder" itemid="Gönder" value="Gönder" class="form-control btn btn-success" />
        </div>
    </form>
    <div>
        @if (ViewData["sonucmesaj"] != null)
        {
            <p><strong>Girilen Bilgiler:</strong></p>

            @Html.Raw(ViewData["sonucmesaj"])
        }
    </div>
</div>
